{% set pageHeading = "California Privacy Rights" %}
{% set pageEffectiveDate = "08/25/24" %}
{% set contentInclude = "../content/ccpa-policy.njk" %}
{% extends "../layouts/legal-page.njk" %}
{% block title %}CCPA Policy | {{ site.name }}{% endblock %}
{% block description %}California Consumer Privacy Act (CCPA) disclosures and your rights as a California resident.{% endblock %}
{% block canonical %}<link rel="canonical" href="{{ site.productionUrl }}ccpa-policy/">{% endblock %}
