{% set service = services[2] %}
{% set pageHeading = service.heading %}
{% set pageSubheading = service.subheading %}
{% set slug = service.slug %}
{% set contentInclude = "../content/motorcycle-injury.njk" %}
{% set pageTitle = service.metaTitle %}
{% set pageDescription = service.metaDescription %}
{% set pageUrl = site.productionUrl ~ service.slug ~ "/" %}
{% extends "../layouts/service-page.njk" %}

{% block canonical %}<link rel="canonical" href="{{ site.productionUrl }}{{ service.slug }}/">{% endblock %}
