{% set slug = "terms-conditions" %}
{% set pageHeading = "Terms & Conditions" %}
{% set contentInclude = "../content/terms-conditions.njk" %}
{% set pageTitle = "Terms & Conditions | " ~ site.name %}
{% set pageDescription = "AccidentLogic terms and conditions of use." %}
{% set pageUrl = site.productionUrl ~ "terms-conditions/" %}
{% extends "../layouts/legal-page.njk" %}
{% block canonical %}<link rel="canonical" href="{{ site.productionUrl }}terms-conditions/">{% endblock %}
