{% set pageHeading = "Terms & Conditions" %}
{% set contentInclude = "../content/terms-conditions.njk" %}
{% extends "../layouts/legal-page.njk" %}
{% block title %}Terms & Conditions | {{ site.name }}{% endblock %}
{% block description %}AccidentLogic terms and conditions of use.{% endblock %}
{% block canonical %}<link rel="canonical" href="{{ site.productionUrl }}terms-conditions/">{% endblock %}
